body {
    background: rgb(219, 217, 217)
}

.navbar {
    background-color: black;
    overflow: hidden;
    padding: 20px 20px 20px 0px;    
}

.navbar a,
.navbar span {    
    color: white;
    text-decoration: none;
    text-align: center; 
    padding: 21px;
    font-size: 18px;  
}

.activePage {
    background-color: rgb(32, 1, 191);
}

.navbar a:hover {
    background-color: lightblue;
    color: black;
}

.container {
    padding-top: 20px;
    text-align: center;
}

.container img {
    border-radius: 50%;
    height: 200px;
    width:200px;
    margin-top: 20px;
    padding-bottom: 20px;
}